.banner__container {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    background-image: url(../img/NP.png);
    background-size: cover;
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}

.banner-text_reverse {
    text-align: end;
}

.banner__container_fade {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5018382352941176) 5%, rgba(0, 0, 0, 0.1516981792717087) 35%, rgba(0, 0, 0, 0.1516981792717087) 65%, rgba(0, 0, 0, 0.5046393557422969) 95%);
}

.banner-text {
    padding-bottom: 15px;
    padding-top: 15px;
}

.banner-text:hover {
    text-decoration: underline;
}

.banner-text_left-align {
    padding-left: 100px;
}

.banner-text_right-align {
    padding-right: 120px;
}

.news__block {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}

.block_reverse {
    flex-flow: row-reverse;
}

.main-news__container {
    width: 30%;
    cursor: pointer;
}

.main-news__container:hover {
    box-shadow: 0px 0px 7px 1px black;
}

.main-news__img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 7px 1px black;
}

.main-news__text {
    min-height: 90px;
    padding-left: 5px;
}

.rest-news__block {
    width: 60%;
    height: auto;
}

.rest-news__top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rest-news__top-wrapper {
    width: 20%;
    cursor: pointer;
}

.rest-news__top-wrapper:hover {
    box-shadow: 0px 0px 7px 1px black;
}

.rest-news__top-element {
    width: 100%;
    height: 100px;
}

.rest-news__top-text-container {
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.rest-news__img {
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 7px 1px black;
}

.news__time {
    color: #CF1717FF;
    font-weight: 600;
}

.news__time_small {
    font-size: small;
}

.rest-news__text {
    cursor: pointer;
}

.rest-news__text:hover {
    text-decoration: underline;
}

.section-tag__container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #E0E0E0FF;
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
}

.section-tag__container:hover {
    box-shadow: 0px 0px 7px 1px black;
}

.section-tag__image-wrapper {
    width: 30%;
}

.section-tag__image {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 7px 1px black;
}

.section-tag__text-wrapper {
    width: 60%;
}

.section-tag__title {
    display: flex;
    justify-content: space-between;
}

.section__scrollBack {
    height: 45px;
    width: 45px;
    position: fixed;
    top: 90%;
    right: 3%;
    color: grey;
    opacity: 0.6;
    cursor: pointer;
}