.sample{
    margin: 10px;
    height: 100px;
    width: 250px;
    background-image: url(../Img/sampleAdv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}