.nav__container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__link {
    text-decoration: none;
}

.active_link {
    height: 100px;
    font-size: x-large;
    transition: 0.5s;
}

.nav__tag {
    margin: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0 0 10px 0;
    color: #E1E5E8FF;
    background-color: #CF1717FF;
    cursor: pointer;
    border: 0;
}

.nav__tag:hover{
    text-decoration: underline;
}

.nav__tag:active {
    background-color: #DC4D41F6;
}