.ticker {
    margin: 0;
}

.ticker_flex {
    display: flex;
}

.ticker__element {
    border: 1px solid #333;
}
.ticker_static-container{
    min-width: 200px;
    text-align: right;
    padding-right: 15px;
    color: #fff;
    background-color: #333;
}
.ticker_running-container{
    min-width: 88%;
}
.ticker__element_marquee{
    white-space: nowrap;
}