.section{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    height: auto;
}
.section-left__container{
    width: 30%;
    border: 2px solid #E1E5E8FF;
    border-radius: 3px;
}
.section-left__element{
    width: 100%;
    height: auto;
}
.section-right__block{
    width: 60%;
    height: auto;
    border: 2px solid #E1E5E8FF;
    border-radius: 3px;
}
.section-right__container{
    display: flex;
    width: 100%;
}
.section-right__top-wrapper{
    width: 50%;
}
.section-right__top-element{
    width: 80%;
    height: auto;
}
