.header {
    background-color: #000000FF;
    padding-top: 10px;
}

.header__container {
    background-color: #E1E5E8FF;
}

.header_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tagWrapper {
    display: flex;
    justify-content: space-evenly;
    background-color: #E1E5E8FF;
    list-style: none;
    padding: 0;
    margin: 0;
}