.header{
    background-color: #000000FF;
    padding-top: 10px;
    padding-bottom: 3px;
}
.header__container {
    background-color: #E1E5E8FF;
}

.header_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}